@font-face {
    font-family: 'OMGSECRETFONTo_o';
    src: url('../fonts/coolvetica-webfont.woff2') format('woff2'),
    url('../fonts/coolvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
h2{
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    line-height: 15px;
    letter-spacing: 0px;
}
body {
    background-color: #1D1D1D;
    font-family: "Yu Gothic UI Semibold", sans-serif;
}
.text{
    margin-left: 9.5%;
    color: white;
    font-size: 34px;
    font-family: "OMGSECRETFONTo_o","Raleway SemiBold", sans-serif;
    margin-top: 10%;
    letter-spacing: 2px;
    line-height: 69px;
}
.header{
    color: #0DFDD8;
    letter-spacing: 2px;
}
.contactform{
    width: 50%;
    margin-left: 9.5%;
}
.name{
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B;
    padding: 5px 20px;
    width: 276px;
    font-size: 18px;
    margin-top: 10px;
}
.email{
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B ;
    padding: 5px 20px;
    font-size: 18px;
    width: 276px;
    margin-top: 10px;
}
.subject{
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B ;
    padding: 5px 20px;
    font-size: 18px;
    width: 600px;
    margin-top: 10px;
}
.message{
    background-color: #2B2B2B;
    border: 2px solid #2B2B2B ;
    padding: 5px 20px;
    color: white;
    font-size: 18px;
    width: 600px;
    margin-top: 10px;
    resize: vertical;
}
.submitform{
    border: 2px solid #08fdd8;
    border-radius: 5px;
    padding: 14px 28px;
    text-decoration: none;
    font-size: 13px;
    background-color: #1D1D1D;
    cursor: pointer;
    color: #08fdd8;
    letter-spacing: 2px;
}
.submitform:hover{
    background-color: #08fdd8;
    color: #1D1D1D;
}
input{
    color: white;
}
.submitbutton{
    margin-top: 2%;
}
