@font-face {
    font-family: 'OMGSECRETFONTo_o';
    src: url('../fonts/coolvetica-webfont.woff2') format('woff2'),
    url('../fonts/coolvetica-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
.colorchange {
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% { color: gray; }
    50% { color: #0DFDD8; }
    100% { color: gray; }

}



body {
    background-color: #1D1D1D;
    font-family: "Yu Gothic UI Semibold", sans-serif;
}

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow-x: hidden;
    background-size: cover;
}

.sidenav a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 12px;
    text-decoration: none;
    font-family: "Yu Gothic UI Semibold", sans-serif;

}
.sidenav a:hover {
    color: #0DFDD8;
}
.navmenu{
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 340%;

}
.navimage{
    background: #070707;
    display: block;
    position: center;
    padding: 12px 16px;
    height: 60px;
}
.text{
    margin-left: 9.5%;
    color: white;
    font-size: 34px;
    font-family: "OMGSECRETFONTo_o","Raleway SemiBold", sans-serif;
    margin-top: 17%;
    max-width: 40%;
    max-height: 10%;
    letter-spacing: 2px;
    line-height: 69px;
}
.subtext{
    font-family: "Segoe UI Light", sans-serif;
    font-size: 20px;
    margin-top: -50px;
    color: gray;
    word-spacing: -2px;
    letter-spacing: 0px;
}
.active{
    color: #0DFDD8;
}
.LMFAO{
    height: 58px;
}
