.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #181818;
    overflow: hidden;
    background-size: cover;
}

.sidenav a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 12px;
    text-decoration: none;
    font-family: "Yu Gothic UI Semibold", sans-serif;

}
.sidenav a:hover {
    color: #0DFDD8;
}
.navmenu{
    text-align: center;
    display: block;
    font-size: 16px;
    margin-top: 340%;

}
.navimage{
    background: #070707;
    display: block;
    position: center;
    padding: 12px 16px;
    height: 60px;
}
.active{
    color: #0DFDD8;
}
.navsocial{
    text-align: center;
    display: block;
    margin-left: 9px;
    padding-bottom: 25px;
    bottom: 0;
    position: fixed;
    left: 0;
}